<div class="lpage">
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                        <h3>Iniciar sesion</h3>
                </div>
                <div class="card-body">
                    <div class="Gcontainer">
                        <form id="frminiciosesion" name="frminiciosesion">
                            <div class="mb-3 row">
                                <label for="user1" class="col-4 col-form-label">
                                    <h4>Usuario 1</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="user1" id="user1"
                                        placeholder="Usuario 1">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="user2" class="col-4 col-form-label">
                                    <h4>Usuario 2</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="user2" id="user2"
                                        placeholder="Usuario 2">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="pass" class="col-4 col-form-label">
                                    <h4>Contraseña</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="pass" id="pass"
                                        placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success">
                                        <h4>Enviar</h4>
                                    </button>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
