
<div class="container" class="contactPage">
    <div class="row ">
        <div class="col-6">
                <div class="card mt-5">
                    <div class="card-header">
                            <h3>Contactanos</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <form id="frmcontacto" name="frmcontacto">
                                <div class="mb-3 row">
                                    <label for="firstName" class="col-4 col-form-label">
                                        <h4>Nombres</h4>
                                    </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" name="firstName" id="firstName"
                                            placeholder="Nombres">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="email" class="col-4 col-form-label">
                                        <h4>Email</h4>
                                    </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="phone" class="col-4 col-form-label">
                                        <h4>Telefono</h4>
                                    </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefono">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="comments" class="form-label">
                                        <h4>Comentarios</h4>
                                    </label>
        
                                    <textarea class="form-control" name="comments" id="comments" rows="3"
                                        placeholder="Comentarios"></textarea>
        
                                </div>
                                <div class="row">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-success">
                                            <h4>Enviar</h4>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
</div>