<div class="aboutPage">
    <div class="content">
         <h1 class="mb-5">About  <br/>Us</h1>
         <a routerLink="/products">VIEW PRODUCTS <i class="fa-solid fa-share"></i></a>
    </div>
</div>
<div class="history">
  <div class="historyMain">
    <h2>Historia de la empresa</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio atque harum labore iusto fuga
      consequatur, aliquid quos id! Dolore sequi quidem suscipit fuga perferendis, nulla amet iure quas maiores.
    </p>
  </div>
    <div class="vision">
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veritatis quisquam nobis quas at vero
          ipsam voluptatibus rem magnam nostrum, sunt id, ab sequi commodi animi dolorum deserunt.</p>
      
  </div>
  <div class="mision">
    <h2>Mision</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eum accusantium! Excepturi omnis,
      blanditiis amet culpa dolores recusandae ipsam expedita exercitationem, odio nihil earum corporis deleniti
      sed ut atque possimus?</p>
  </div>
</div>
