<div class="rpage">
<div class="container registePage">
    <div class="row">
        <div class="col-6">
            <div class="card mt-5">
                <div class="card-header">
                        <h3>Formulario de Registro</h3>
                </div>
                <div class="card-body">
                    <div class="Fcontainer">
                        <form id="frmRegistro" name="frmRegistro">
                            <div class="mb-3 row">
                                <label for="firstName" class="col-4 col-form-label">
                                    <h4>Nombres</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="firstName" id="firstName"
                                        placeholder="Nombres">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="lastName" class="col-4 col-form-label">
                                    <h4>Apellidos</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="lastName" id="lastName"
                                        placeholder="Apellidos">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="phone" class="col-4 col-form-label">
                                    <h4>Telefono</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="phone" id="phone"
                                        placeholder="Telefono">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="direction" class="col-4 col-form-label">
                                    <h4>Direccion</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="direction" id="direction"
                                        placeholder="Direccion">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="email" class="col-4 col-form-label">
                                    <h4>Email</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="email" id="email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="col-4 col-form-label">
                                    <h4>Genero</h4>
                                </label>
                                <input type="radio" name="gender" id="gender" value="Hombre">
                                <label for="Hombre">Hombre</label>
                                <input type="radio" name="gender" id="gender" value="Mujer">
                                <label for="Mujer">Mujer</label>
                            </div>
                            <div class="mb-3 row">
                                <label for="age" class="col-4 col-form-label">
                                    <h4>Edad</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="age" id="age" placeholder="Edad">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="user" class="col-4 col-form-label">
                                    <h4>Usuario</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="user" id="user"
                                        placeholder="Usuario">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="pass" class="col-4 col-form-label">
                                    <h4>Contrasña</h4>
                                </label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="pass" id="pass"
                                        placeholder="Contrasña">
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success">
                                        <h3>Enviar</h3>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
