.rpage{
    background-image:url("../../../assets/images/amy-shamblen-xwM61TPMlYk-unsplash.jpg");
    height:800px;
    background-position:center-top;
    background-size: cover;
    width: auto;
}


.card{
    left: 50%;
    top: 2%;
}